In [68]:
import math

In [69]:
doc_a = "The cat sat on my face"
doc_b = "The dog sat on my bed"

In [70]:
bow_a = doc_a.split(" ")
bow_b = doc_b.split(" ")

In [71]:
bow_b

['The', 'dog', 'sat', 'on', 'my', 'bed']

### Merge two sentences

In [72]:
word_set = set(bow_a).--------------------------(set(bow_b))

In [73]:
word_set

{'The', 'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat'}

### Convert to dictionary and set initial values to 0

In [76]:
word_dict_a = dict.fromkeys(word_set, 0) 
word_dict_b = dict.fromkeys(word_set, 0)

In [77]:
wordDictA

{'sat': 0, 'cat': 0, 'face': 0, 'dog': 0, 'bed': 0, 'on': 0, 'The': 0, 'my': 0}

### Get count of words per each sentence

In [78]:
for word in bow_a:
    --------------------------[word]+=1
    
for word in bow_b:
    --------------------------[word]+=1

In [79]:
word_dict_b

{'sat': 1, 'cat': 0, 'face': 0, 'dog': 1, 'bed': 1, 'on': 1, 'The': 1, 'my': 1}

### Converting to Dataframe

In [80]:
import pandas as pd
pd.DataFrame([--------------------------, --------------------------])

   sat  cat  face  dog  bed  on  The  my
0    1    1     1    0    0   1    1   1
1    1    0     0    1    1   1    1   1

### Compute Term Frequency

![alt text](tf.png "TF Formula")

In [81]:
def computeTF(word_dict, bow):
    tf_dict = {}
    bow_count = len(bow)
    for word, count in word_dict.items():
        tf_dict[word] = count/float(bow_count)
    
    return tf_dict

In [82]:
tf_bow_a = computeTF(--------------------------, --------------------------)
tf_bow_a

{'sat': 0.16666666666666666,
 'cat': 0.16666666666666666,
 'face': 0.16666666666666666,
 'dog': 0.0,
 'bed': 0.0,
 'on': 0.16666666666666666,
 'The': 0.16666666666666666,
 'my': 0.16666666666666666}

In [83]:
tf_bow_b = computeTF(--------------------------, --------------------------)
tf_bow_b

{'sat': 0.16666666666666666,
 'cat': 0.0,
 'face': 0.0,
 'dog': 0.16666666666666666,
 'bed': 0.16666666666666666,
 'on': 0.16666666666666666,
 'The': 0.16666666666666666,
 'my': 0.16666666666666666}

### Compute IDF

![alt text](idf.png "IDF Formula")

In [88]:
def computeIDF(doc_list):
    idf_dict = {}
    
    N = len(doc_list)
    
    idf_dict = dict.fromkeys(doc_list[0].keys(), 0)
    for doc in doc_list:
        for word, val in doc.items():
            if val > 0:
                idf_dict[word] += 1
            
    
    for word, val in idf_dict.items():
        idf_dict[word] = math.log10(N / float(val))
        
    return idf_dict

In [89]:
idfs = computeIDF([--------------------------, --------------------------])

### Compute TFIDF

![alt text](tfidf.png "TFIDF Formula")

In [92]:
def computeTFIDF(tf_bow, idfs):
    tfidf = {}
    for word, val in tf_bow.items():
        tfidf[word] = val*idfs[word]
        
    return tfidf

In [104]:
tfidf_bow_a = computeTF(--------------------------, --------------------------)
tfidf_bow_b = computeTFIDF(--------------------------, --------------------------)

In [105]:
import pandas as pd
pd.DataFrame([--------------------------, --------------------------])

,sat,cat,face,dog,bed,on,The,my
0,0.020833,0.020833,0.020833,0.000000,0.000000,0.020833,0.020833,0.020833
1,0.000000,0.000000,0.000000,0.050172,0.050172,0.000000,0.000000,0.000000